#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_storecoin
#build/storecoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_storecoin)

DEB_INSTALL_EXAMPLES_storecoind += debian/examples/*
DEB_INSTALL_MANPAGES_storecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix storecoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f storecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake storecoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_storecoin
	src/test_storecoin

# Ensure wrapper is set executable
binary-post-install/storecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/storecoind
binary-post-install/storecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/storecoin-qt
